button {
  color: white;
  background-color: var(--cq);
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  line-height: normal;
  transition: color 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;
  position: relative;
  font-size: 1rem;
}

button::after {
  content: "";
  position: absolute;
  background-color: var(--cp);
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg);
  z-index: -1;
  transition: height 0.3s ease-in-out;
}

button:hover::after {
  height: 400%;
}

button:hover,
button:hover i {
  color: var(--cq);
}

/* i {
  color: white;
  display: none;
} */

@media only screen and (max-width: 500px) {
  button span:last-of-type {
    display: none;
  }
}
